/* -------------------- Preguntas Frecuentes -------------------- */
.cardsContainer-l {
  margin-top: 14rem;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .card-lo {
    margin: 1rem;
    width: 25rem;
    background-color: rgba(1, 1, 1, 0.3);
    border-radius: 20px;
    overflow: auto;
  }

  .card__titulo {
    margin: 1rem;
    font-family: "Chewy", cursive;
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
  }

  .card__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;

    text-align: center;
    padding: 20px;
  }
}
