/* -------------------- Index -------------------- */

.principal__logo {
  margin-left: 5rem;
  width: 38rem;
}

.principal__img_profe {
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contenido__index_texto {
  max-width: 65rem;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #080808; /*ok*/
  font-size: 2.5rem;
}

.extra__img_prefoot {
  margin: 2rem;
  max-width: 30rem;
}
