/*-----------------------------------nosotros-----------------------------------*/

.img_container {
  width: 35rem;
  /* width: 30%; */
}
.text_container {
  /* max-width: 115rem; */
  width: 70%;

  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}
