/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*con esto hago que un rem sean 10px*/
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.principal .row,
.extra .row {
  justify-content: space-around;
}
