/* -------------------- Index -------------------- */

.index__logo {
  text-align: center;
  .index__logo--img {
    width: 30rem;
  }
}

.index__desc {
  text-align: center;

  .index__desc--img-profe {
    margin-top: 5rem;
    width: 25rem;
  }

  .index__desc--texto {
    width: 85%;
    margin: 0 auto;
    font-size: 3rem;
  }
}

@media screen and (min-width: 821px) {
  .index__desc {
    display: flex;

    .index__desc--img-profe {
      margin: auto;
    }

    .index__desc--texto {
      margin: auto;
    }
  }
}
