/*-----------------------------------nosotros-----------------------------------*/

.img_container {
  text-align: center;
}
.img_container img {
  width: 20rem;
}

.text_container {
  /* max-width: 115rem; */
  width: 70%;

  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

@media screen and (min-width: 821px) {
  .img_container img {
    width: 40rem;
  }
}
