/*
font styles
---------------------------------
font-family: 'Chewy', cursive;
font-family: 'Montserrat', sans-serif;


Color scheme
---------------------------------
color: #5c14ec; 
color: #fabd62; 
color: #7c52cf; 
color: #080808; 
color: #9d9d9d; 

*/
@import "vars";
@import "navBurger";
@import "base";
@import "nav";
@import "principal";
@import "index";
@import "recursos";
@import "nosotros";
@import "contacto";
@import "frecuentes";
@import "footer"; /*OK*/
